.header{
  margin-top: 20px;
  text-align: center;
  color: #333333;
  font-size: calc(2.5rem + 2.6vw);
  font-weight: bold;
  line-height: 100%;

}
#console{
  width: 50%;
  height: 30vw;
  background-color: #323233;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 20px, black 0%);
  border-radius: 5px;
  color: #cccccc;
  overflow: auto;
  margin: auto;
  background-size:cover
}
@media (max-width: 991px) and (orientation: portrait)
{
  #console{
    width: 80%;
    height: 90vw;
  }
}

#console-input{
  padding: 10px;
  color: white;
  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}

.tech-section{
  background-color: white;
  color: black;
  text-align: center;
  border-top: 7px solid #3F51B5;
  margin-top: 0px;
  padding-bottom: 20px;
}

.line{
  background: #333333;
  height: 4px;
  margin: auto;
  margin-top: 20px;
  width: 150px;
}
.skill-card{
  height: 500px;
}

.parallax-image{
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 100%;
}

.project-card {
  text-align: left;
  max-width: 400px;
  margin-top: 20px;
  margin: 20px auto 0px auto
}

#footer{
  margin-top: 50px;
}

.foot-link{
  width: 250px;
  margin: auto;
}
